include vars

mixin menu(list, ulClass, liClass, dropdown)
    - var menuName= list
    if dropdown== "yes"
        ul(class= ulClass)
            each val, key in menuName
                li(class= liClass)
                    a(href= key)&attributes(attributes)= val
            +dropdownMenu
    else
        ul(class= ulClass)
            each val, key in menuName
                li(class= liClass)
                    a(href= key)&attributes(attributes)= val


mixin slide(vine, type, since)
    h1.slide__vine= vine
    h3.slide__type= type
    p.slide__since= since

mixin products(list, status, col)
    - var productList= list
    each val, key in productList
        if(status== "yes")
            .product__item
                .product__container-1
                    img.product__status(src= val.status, alt="status")
                    .product__container-img
                        img.product__image(src= val.img, alt="img")
                .product__hover
                    .product__hover-img
                        img(src="../dist/images/icon-love.png", alt="icon love" class="product__image-hover")
                        a(href="#").product__info-hover Yêu thích
                    .product__hover-img
                        img(src="../dist/images/icon-compare.png", alt="icon compare" class="product__image-hover")
                        a(href="#").product__info-hover  So sánh
                    .product__hover-img
                        a(href="#").product__info-hover
                            img(src="../dist/images/icon-arrow-compare.png", alt="icon button" class="product__image--hover")
                .product__container-2
                    h1.product__title= val.name
                    p.product__price.product__discount= val.price
                        |
                        sup.product__unit= val.unit
                        |  - 
                        span.product__price-origin= val.origin
                            sup.product__unit= val.unit
                    p.product__description= val.des       
                    |
                    |
                    a.button__click(href= val.url)&attributes(attributes)= val.button
        else 
            if(col== "col")
                .product__item
                    .product__container-1
                        .product__container-img
                            img.product__image(src= val.img, alt="img")
                    
                    .product__container-2
                        h1.product__title= val.name
                        p.product__price.product__discount= val.price
                            |
                            sup.product__unit= val.unit
                            | 
                            span.product__price-origin=  - val.origin
                                sup.product__unit= val.unit
                        p.product__description= val.des
                        |
                        |
                        .product__link-love
                            a.button__click(href= val.url)&attributes(attributes)= val.button
                            .product__hover
                                .product__hover-img
                                    img(src="../dist/images/icon-love.png", alt="icon love" class="product__image-hover")
                                    a(href="#").product__info-hover  Yêu thích
                                .product__hover-img
                                    img(src="../dist/images/icon-compare.png", alt="icon compare" class="product__image-hover")
                                    a(href="#").product__info-hover  So sánh
            else   
                .product__item
                    .product__container-1
                        .product__container-img
                            img.product__image(src= val.img, alt="img")
                    .product__hover
                        .product__hover-img
                            img(src="../dist/images/icon-love.png", alt="icon love" class="product__image-hover")
                            a(href="#").product__info-hover  Yêu thích
                        .product__hover-img
                            img(src="../dist/images/icon-compare.png", alt="icon compare" class="product__image-hover")
                            a(href="#").product__info-hover  So sánh
                        .product__hover-img
                            a(href="#").product__info-hover
                                img(src="../dist/images/icon-arrow-compare.png", alt="icon button" class="product__image--hover")
                    .product__container-2
                        h1.product__title= val.name
                        p.product__price.product__discount= val.price
                            |
                            sup.product__unit= val.unit
                            |  - 
                            span.product__price-origin= val.origin
                                sup.product__unit= val.unit
                        p.product__description= val.des
                        |
                        |
                        a.button__click(href= val.url)&attributes(attributes)= val.button

mixin productGrid(src, alt, title)
        - var listImg= src
        each val in listImg
            .product__grid-item
                img.product__grid-img(src= val, alt= alt)
                .product__grid-link
                    img.product__grid-title(src= title)

mixin blog(list)
    - var listBlog= list
    each val, key in listBlog
        .blog__item
            .blog__container-img
                img.blog__img(src= val.img, alt= "img")
                .blog__hover
                    img(src="../dist/images/icon-link.png", class="blog__hover-img" alt="hover")
            .blog__content
                h1.blog__title= val.name
                .blog__info
                    p.blog__author= val.author
                    p.blog__date= val.date
                    p.blog__comment= val.comment
                p.blog__description= val.description
                a.blog__link(href= val.link) Read more

mixin footerMenu(title, list, href)
    h1.footer__title= title
    .footer__menu
        ul.footer__menu-list
        - var menuFooter= list
        each val in menuFooter
            li.footer__menu-item
                a.footer__menu-link(href= href)&attributes(attributes)= val


mixin productCompare
    .product__hover
        .product__hover-1
            img(src="../dist/images/icon-love.png", alt="icon love" class="product__image-hover")
            span.product__info-hover  Yêu thích
        .product__hover-2
            img(src="../dist/images/icon-compare.png", alt="icon compare" class="product__image-hover")
            span.product__info-hover  So sánh
        .product__hover-2
            img(src="../dist/images/icon-arrow-compare.png", alt="icon button" class="product__image--hover")
            
//- mixin menu(list, ulClass, liClass, href, dropdown)
//-     - var menuName= list
//-     ul(class= ulClass)
//-         each val, key in menuName
//-             //- if dropdown== "yes" && key> 0 && key< 4
//-             if dropdown== "yes" && key== 1
//-                 li(class= liClass)
//-                     a(href= href)&attributes(attributes)= val
//-                 +dropdownMenu
//-             else 
//-                 li(class= liClass)
//-                     a(href= href)&attributes(attributes)= val

mixin dropdownMenu
    .dropmenu__content
        .dropmenu__list
            .dropmenu__item
                h1.dropmenu__title Rượu ngoại
                ul.dropmenu__container
                    li
                        a(href="#").dropmenu__link Rượu Chivas
                    li
                        a(href="#").dropmenu__link Hàng độc - Rượu độc đáo
                    li
                        a(href="#").dropmenu__link Johnnie Walker
                    li
                        a(href="#").dropmenu__link Rượu Whisky 
                    li
                        a(href="#").dropmenu__link Rượu Remy Martin
                    li
                        a(href="#").dropmenu__link Rượu Glenmorangie
            .dropmenu__item
                h1.dropmenu__title Rượu vang
                ul.dropmenu__container
                    li
                        a(href="#").dropmenu__link Rượu Chivas
                    li
                        a(href="#").dropmenu__link Hàng độc - Rượu độc đáo
                    li
                        a(href="#").dropmenu__link Johnnie Walker
                    li
                        a(href="#").dropmenu__link Rượu Whisky 
                    li
                        a(href="#").dropmenu__link Rượu Remy Martin
                    li
                        a(href="#").dropmenu__link Rượu Glenmorangie
            .dropmenu__item
                h1.dropmenu__title Rượu ngoại 1
                ul.dropmenu__container
                    li
                        a(href="#").dropmenu__link Rượu Chivas
                    li
                        a(href="#").dropmenu__link Hàng độc - Rượu độc đáo
                    li
                        a(href="#").dropmenu__link Johnnie Walker
                    li
                        a(href="#").dropmenu__link Rượu Whisky 
                    li
                        a(href="#").dropmenu__link Rượu Remy Martin
                    li
                        a(href="#").dropmenu__link Rượu Glenmorangie
            .dropmenu__item
                .dropmenu__container-image
                    img(src="../dist/images/grid-6.jpg", class="dropmenu__image" alt="img")


mixin pageIndex(list)
    - var listIndex= list
    .page__index
        ul
            each val, key in listIndex
                li
                    a(href= key)&attributes(attributes)= val


mixin listMenuLeft(list)
    - var listMenuWine= list
    each val, key in listMenuWine
        a.sort__wine-link(href= key)&attributes(attributes)= val

mixin productCard(list)
    - var productList= list
        each val, key in productList
            .cart__right
                .product__container-img
                    img.product__image(src= val.img, alt="img")
                .product__container-2
                    h1.product__title.line= val.name
                    p.product__price.product__discount.line= val.price
                        |
                        sup.product__unit= val.unit
                    input(type="text" value= val.quantity name="quantity" class="cart__quantity line")
                    p.product__price.product__discount.line= val.sum
                        |
                        sup.product__unit= val.unit
                    img.product__delete.line(src= "../dist/images/icon-delete.png", alt="img delete")


mixin blogComment(list)
    - var listComment= list
    each val, key in listComment
        .comment__item
            .comment__info
                p.comment__author= val.author
                p.comment__time= val.time
                a.button__reply Trả lời
            .comment__content
                p.comment__text= val.comment
